[mysqld]

sort_buffer_size            = 10M

# read_rnd_buffer_size = 2M
user                        = mysql
datadir                     = /var/lib/mysql
pid-file                    = /var/run/mysqld/mysqld.pid
socket                      = /var/run/mysqld/mysqld.sock
basedir                     = /usr
tmpdir                      = /tmp
lc-messages-dir             = /usr/share/mysql
bind-address                = 0.0.0.0
port                        = 3306
explicit_defaults_for_timestamp
log-error                   = /var/log/mysql/error.log

ignore-db-dir               = lost+found

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links              = 0

# Replication setup
server-id			        = 2
# log_bin                 	= /var/log/mysql/mysql-bin.log
auto_increment_increment	= 2
auto_increment_offset		= 1

# innodb settings
innodb_log_file_size        = 1024M
innodb_buffer_pool_size     = 1260M
innodb_sort_buffer_size     = 32M
innodb_lock_wait_timeout    = 120

# Recommended in standard MySQL setup
# sql_mode=NO_ENGINE_SUBSTITUTION
sql_mode                    = NO_ENGINE_SUBSTITUTION

key_buffer_size             = 32M
max_allowed_packet          = 128M
query_cache_limit           = 10M
query_cache_size            = 128M

local-infile                = 0

connect_timeout             = 120
net_read_timeout            = 120
read_buffer_size            = 2097152

# slave-skip-errors = 1452,1062

#transaction-isolation = READ-COMMITTED

[mysqld_safe]
log-error    = /var/log/mysql/error.log
pid-file=/var/run/mysqld/mysqld.pid

[mysqldump]
max_allowed_packet = 500M

!includedir /etc/mysql/conf.d/
